<h1>MAKE A NEW CRYPTID (will have dog pic)</h1>

<form method="POST" action="/cryptids">
    <label for="name">Name: 
        <input type="text" id="name" name='name'>
    </label>

    <input type="submit" value="add crypty">
</form>