<h1>MAKE A NEW CRYPTID (will have dog pic)</h1>

<!-- method is posting somthing and the action is where we want it to post to -->
<form method="POST" action="/cryptids">
    <label for="name">Name: 
        <input type="text" id="name" name='name'>
    </label>

    <input type="submit" value="add crypty">
</form>