<!-- named index since this in indexing -->
<ul>
    <% dinos.forEach(function(ele, id) { %>
        <li><a href="/dinosaurs/<%= id %>"><%= ele.name %></a> is a <%= ele.type %></li>
    <% }) %>
</ul>