<br>
Look at the <%= dino.name %>
<br><br><br>
<img src="https://placedog.net/640/480?random" alt="">
<br><br><br>
it is a  <%= dino.type %>
<br>
<button><a href="/dinosaurs/edit/<%= dinoIndex %>">Edit a dino</a></button>